---
Checks: >
  -*,
  bugprone-*,
  cert-*,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  portability-*,
  readability-*,
  google-*,
  -google-objc-function-naming
  -cert-err58-cpp,
WarningsAsErrors: '*'
HeaderFilterRegex: '^(src|tests)/'
CheckOptions:
  - key: readability-function-size.LineThreshold
    value: '100'
  - key: readability-function-size.StatementThreshold
    value: '150'
  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: '1'
  - key: modernize-loop-convert.MinConfidence
    value: reasonable
  - key: performance-move-const-arg.CheckTriviallyCopyableMove
    value: '0'
  - key: readability-function-size.LineLimit
    value: '100'
  - key: readability-function-cognitive-complexity.Limit
    value: '25'
